* {
    font-family: 'Montserrat', sans-serif;
}

.App {
    background-color: #050711 !important;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.container {
    min-width: 80% !important;
}