.verticalLI {
    padding: 10px;
    margin-bottom: 10px;
}

.verticalLI:hover {
    background-color: #090c16;
}

.active {
    background-color: #090c16;
    color: #4dfda0 !important;
}

.verticalLinksIcon {
    font-size: 25pt;
    color: #748ca0;
}